#any {

    color: blue;

}

body {
    color: blue;
}

#kauany {
    width: 250px;
}

body {
    background-color: cornflowerblue;
}

#kaka {
    width: 250px;
}

#up {
    background-color: blue;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    color: steelblue;
}

body.assunto-3 {
    background-image: url("f9007b40031449151b374c46541918bf.jpg");
}

#navbar .stitch a:hover {
    background-color: blue;
    color: aqua;

}

div {
    padding: 10px;
    margin: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 116px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: dodgerblue;
}

.navbar {
    overflow: hidden;
    background-color: blue;
    text-align: center;
}

.saiba-mais {
    background: url("gravura-de-folhas-tropicais-desenhadas-a-mao-de-fundo_23-2148953288.avif");
    background-repeat: no-repeat;
    background-size: cover;
}